@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-zoom {
  animation: zoom 20s infinite alternate;
}

.pattern-background {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M15 15v30h30V15H15zm2 2h26v26H17V17z'/%3E%3Cpath d='M0 0v15h15V0H0zm2 2h11v11H2V2zM0 45v15h15V45H0zm2 2h11v11H2V47zM45 0v15h15V0H45zm2 2h11v11H47V2zM45 45v15h15V45H45zm2 2h11v11H47V47z'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-grid-pattern {
  background-size: 30px 30px;
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(0 0 0 / 0.1) 1px, transparent 1px);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}
